#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title{
  font-family: 'Montserrat';
  font-weight: 200;
}

body{
background: rgba(12, 14, 12, 0.4);
}
.logo{
  max-width: 1em;
}

input{
  border-radius: 1rem;
  border: none; 
}

.submit{
  background-color:rgb(27, 27, 61);
}