@media screen and (max-width:768px) {
  .card{
    width: 70%;
  }
  .albumcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 70%;
  }
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title{
  font-family: 'Montserrat';
  font-weight: 200;
}

body{
  /* background-color: black; */
background-image: url('../public/bg.jpg');
background: #000000;  
background: -webkit-linear-gradient(to right, rgb(67, 67, 67), #000000);  
background: linear-gradient(to right, #070707, #000000);

} 
.logo{
  max-width: 1em;
}
nav{
  background: linear-gradient(to top, rgba(17, 17, 17, 0.897), #202020); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* border-bottom: 1px solid rgb(20, 20, 20); */
}

input{
  border-radius: 1rem;
  border: none; 
  color: black;
  background-color:aliceblue ;
  opacity: 70%;
}

.submit,.add{
  background-color:rgb(27, 27, 61);
}

.card{
  background-color: transparent; 
}

.albumCover{
  border-radius: 1em;
  border: none;
  box-shadow: 20px 20px 4px rgba(158, 41, 253, 0.123);
}

.artist,.label,.genre {
  font-family: 'Montserrat';
  font-size: 1.8em;
}
.albumtitle{
  font-size: 3.5em;
}
.delete{
  background-color:rgba(209, 14, 14, 0.938);
}